---

---
<header class="header container">

    <nav>
        <ul class="header__menu">
            <li>
                <a class="header__link" href="#about">About</a>
            </li>
            <li>
                <a class="header__link" href="#featured">Featured</a>
            </li>
            <li>
                <a  class="header__link" href="#contact">Contact</a>
            </li>
            <li class="header__line">
                
            </li>
        </ul>
    </nav>

</header>

<style>
    .header{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .header__menu{
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 2em;
    }

    .header__link{
        font-size: var(--size-xs);
        text-decoration: non
        font-weight: 600;
        color: var(--color-slate600);
        letter-spacing: -0.05em;
        transition: color 0.3s;

        text-decoration: none;
    }

    .header__link:hover{
        color: var(--color-rose);
        
    }


    @media (min-width: 475px){

    }


    @media (min-width: 640px){
    }


    @media (min-width: 768px){

    }



    @media (min-width: 1024px){

    }


    @media (min-width: 1280px){
    }


    @media (min-width: 1536px){
    }

</style>